@import '../components/main/main.scss';
@import '../components/navbar/navbar.scss';
@import '../components/board/board.scss';
@import '../components/list/list.scss';
@import '../components/add-card-button/add-card-button.scss';

html, body {
  height: 100%;
}

body {
  color: #7f8c8d;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}